<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Tigo Pesa | Menu Builder</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static',
            filename='materialize/css/materialize.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static',
            filename='css/style.css') }}" />
        <!-- Compiled and minified JavaScript -->
        <script src="{{ url_for('static', filename='materialize/js/materialize.js')
            }}"></script>

    </head>

    <body>
        <header class="row">
            <div>
                <nav class="blue accent-3">
                    <div class="nav-wrapper">
                        <a href="#" class="brand-logo">Menu Builder</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#Home">Home</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main class="row">
            <div class="card" id="tabs">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#list">Manage Menus</a></li>
                        <li class="tab"><a href="#simulation">Simulation</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <button onclick="refreshMenuList('list')">Refresh</button>
                    <div id="list">

                    </div>
                    <div id="simulation">Test 2</div>
                </div>
            </div>
        </main>

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                M.AutoInit();
                var options = {}
                var el = document.getElementById('tabs');
                var instance = M.Tabs.init(el, options);
            });
        </script>
        <script src="{{ url_for('static',filename='js/menu_list.js') }}"></script>
    </body>

</html>