<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Menu Structure
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="current">
    <ion-list-header>
      <ion-button no-padding fill="clear" *ngIf="current.parent_id" (click)="prev(current)">
        <ion-icon name="arrow-round-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label>{{current.name}}</ion-label>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item *ngFor="let menu of current.menus; let i= index" detail="false" button="true" (click)="next(menu)">
      <ion-label>{{menu.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>